@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --background: 255 255 255;
  --foreground: 18 24 38;
}

body {
  margin: 0;
  min-width: 1024px;
  min-height: 100vh;
}

